@import "./base.css";

:root {
  /* colors */
  --primary-color: #e2ffec;
  --secondary-color: #e2f5ff;
  --tertiary-color: #ffe2fa;
  --button-hover-color: #ffd2a1;
  --grid-button-color: #c0faff;
  --grid-button-hover: #c0faaa;
  /* #fff3e2 */

  /* desktop font sizes */
  --h1-desktop-font-size: 4em;

  /* mobile font sizes */
  --h1-mobile-font-size: 3em;
}

body {
  background-color: var(--primary-color);
}

#app {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
